.about-container {
    margin-top: 110px;
    background-color: #f9f9f9;
    color: #333;
    padding: 40px;
    font-family: "Plus Jakarta Sans", serif !important;
  }
  
  .about-section {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-heading {
    font-size: 36px;
    color: #097c56;
    margin-bottom: 20px;
  }
  
  .about-description {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .about-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .about-block {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sub-heading {
    font-size: 24px;
    color: #00509e;
    margin-bottom: 10px;
  }
  
  .about-block ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  .about-block li {
    margin-bottom: 8px;
    line-height: 1.6;
  }
  
  .about-block p,
  .about-block li {
    font-size: 16px;
    color: #555;
  }

  .slider-container {
    width: 100%;
    max-width: 600px; 
    height: 300px; 
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
  }
  
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5s ease-in-out;
    border-radius: 15px;
  }