.courses-container {
  text-align: center;
  padding: 20px;
  margin-top: 110px;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  width: 300px;
  font-size: 1rem;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
}

.course-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: scale(1.05);
}

.explore-button,
.add-course-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.add-course-button {
  background-color: #28a745;
}

.add-course-button:hover {
  background-color: #218838;
}

.form-container {
  width: 50%;
  margin: auto;
  text-align: center;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
